## Assignment_2

In [56]:
import pandas as pd
import os

In [57]:
df = pd.read_csv('./FDNY.csv')

### 1. The total number of fire department facilities in New York city

#### assuming each FacilityName is a fire department facility

In [58]:
df['FacilityName'].nunique()

219

### 2. The number of fire department facilities in each borough

In [65]:
df.groupby(['Borough','FacilityName']).sum()

                                                             count
Borough       FacilityName
Borough       FacilityName                                       1
Bronx           Engine 96/Ladder 54                              1
              Bronx Borough Command, District Office 6 & 7       1
              EMS Station 17                                     1
              EMS Station 26                                     1
...                                                            ...
Staten Island Engine 166/Ladder 86                               1
              Engine 167/Ladder 87                               1
              Engine 168/EMS Station 23                          1
              Ladder 79/Battalion 22                             1
              Marine 9                                           1

[219 rows x 1 columns]

### 3. The facility names in Manhattan